/commons-core/target/
/commons-mappers/target/
/commons-pdf/target/
/out/
/services-core/target/
/webcommons-core/target/
/webcommons-mappers/target/
/.idea/sonarlint/issuestore/
/commons-pdf-itext5/target/
/commons-pdf-pdfbox3/target/
/commons-pdf-pdfbox2/target/
/commons-pdf-itext7/target/
/commons-pdf-itext2/target/
/commons-pdf-itext4/target/
/.idea/shelf/
